/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --brand: #0d0711;
  --action: #b8e7f4;
  --white: #ffffff;
  --base-light: #a3ccff;
  --base-dark: #0d0711;
  --black: #111111;
}

/* CSS Reset */

.background-gif {
  background-image: url("./img/sky.gif"); /* Replace with your GIF's path */
  background-size: cover;
  background-repeat: repeat; /* Prevents the GIF from repeating */
  background-position: center; /* Centers the GIF within the element */
  height: 100vh; /* Example: make the div take full viewport height */
  margin: 0;
  transition: background-position 2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Momo Signature", sans-serif;
}

body,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

h1 {
  margin: 10px;
}

.center-h1 {
  text-align: center;
  font-size: 40px;
}

ol,
ul {
  list-style: none;
  display: flex;
  padding: 20px;
  gap: 20px;
}

ul li a {
  color: var(--brand);
  text-decoration: none;
}

/* =========================
   Mobile-first layout
========================= */

.header {
  display: flex; /* puts items (logo + nav) next to each other in a row */
  justify-content: space-between; /* pushes them to opposite sides */
  align-items: center; /* vertically centers items on the cross-axis */
  padding: 10px 20px 5px 5px;
}

.logo {
  width: 100px;
  padding: 28px 20px 20px 15px;
}

.navigation ul {
  /* for the container that the nav links are inside of */
  list-style: none;
  display: flex; /* puts nav links in a row */
  gap: 10px;
  margin: 0; /* removes browser default margin */
  padding: 0px 15px 0px 0px;
}

.navigation a {
  /* for the links inside the nav */
  color: var(--brand);
  text-decoration: none;
  font-weight: 500;
}

.navigation a.active {
  color: var(--action);
  font-weight: bold;
}

/* Home Page */

#container {
  /* profile photo + hero container */
  display: flex;
  flex-direction: column; /* stacks photo and writing (child items) vertically on top of each other */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  min-height: 40vh; /* sets the minimum height of the container to 40% of browser window */
  padding: 0px;
  text-align: center; /* center text for mobile */
  gap: 10px; /* space between photo and text (child items) */
}

.profile-photo img {
  width: 50vw; /* (vw = viwerport width) 50% of the width of the browser window */
  max-width: 300px; /* image will never exceed 300px */
  height: auto; /* keeps image proportions same and calculates height as width changes */
  border-radius: 50%; /* corners are rounded */
}

.hero h1 {
  font-size: 8vw; /* 8% of the width of the browser window */
}

.bio {
  margin: 0px 70px 50px 70px;
  font-size: 4vw; /* 4% of the width of the browser window */
}

/* Projects Page */

#projects a {
  display: flex;
  justify-content: center;
}

.project-image {
  display: block; /* block-level element: all content starts on a new line and takes up full width */
  text-align: center;
  margin: 0px;
  width: 80%; /* 80% of the container's size. Different to vw */
  max-width: 600px; /* prevents it being larger than 600px */
  height: auto; /* keeps image proportions same and calculates height as width changes */
}

/* Contact Page */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.socials-icon {
  width: 50px;
  height: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px 40px;
}

.form label {
  font-weight: 200px;
  color: var(--brand);
}

.form input[type="text"],
.form textarea {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline-color: #b8e7f4;
}

.form input[type="submit"] {
  padding: 8px;
  border: none;
  background-color: #b8e7f4;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.form input[type="submit"]:hover {
  background-color: var(--brand);
}

/* Empty Page */

.img-construction img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: auto;
}

.empty-page-writing {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

/* =========================
   Desktop layout
========================= */
@media (min-width: 768px) {
  .navigation ul {
    /* for the container that the nav links are inside of */
    gap: 20px;
  }

  .navigation a:hover {
    color: var(--action); /* hover color */
    text-decoration: underline wavy var(--action);
  }

  .navigation a.active {
    color: var(--action);
    font-weight: bold;
  }

  .logo {
    width: 150px;
    padding: 25px 20px 20px 15px;
  }

  /* Home Page */

  @keyframes animation {
    0% {
      transform: translateY(-5%);
      opacity: 1;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-5%);
      opacity: 1;
    }
  }

  #container {
    flex-direction: row; /* side by side on desktop */
    text-align: left; /* left-align text */
    gap: 60px;
    padding: 15px 0px 0px 0px;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: none;
  }

  .profile-photo img {
    width: 300px; /* size of photo */
    height: 300px;
    object-fit: cover; /* keep image proportions */
    border-radius: 50%; /* makes it circular */
  }

  .hero h1 {
    font-size: 40px;
  }

  .bio {
    text-align: center;
    font-size: 16px;
    padding: 20px 100px;
    max-width: 1000px;
    margin: 0 auto;
  }

  /* Projects Page */

  #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-image {
    width: 500px; /* fixed size on desktop */
    transition: filter 0.3s ease;
  }

  .project-image:hover {
    filter: brightness(70%);
  }

  /* Contact Page */

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    margin: 20px auto;
    gap: 10px;
  }

  .form label {
    font-weight: 200px;
    color: var(--brand);
  }

  .form input[type="text"],
  .form textarea {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline-color: #b8e7f4;
  }

  .form input[type="submit"] {
    padding: 8px;
    border: none;
    background-color: #b8e7f4;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s;
  }

  .form input[type="submit"]:hover {
    background-color: var(--brand);
  }
}
