/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --brand: #1d1c61;
  --action: #69bcf3;
  --white: #ffffff;
  --base-light: #a3ccff;
  --base-dark: #0d0711;
  --black: #111111;
}

 /* CSS Reset */

html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: "Calibri", sans-serif;
   color: var(--black);
   scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Momo Signature", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 30px;
  padding: 30px;
}

ol,
ul {
  list-style: none;
}

.profile {
  display: flex;          /* put items in a row */
  align-items: center;    /* vertically center them */
  gap: 20px;              /* space between photo and text */
}

.profile-photo img {
  width: 400px;           /* size of photo */
  height: 400px;
  object-fit: cover;      /* keep image proportions */
  border-radius: 50%;     /* makes it circular */
}

.hero h1 {
  margin: 150px 0 150px 100px;
  font-size: 40px;
}

#container {
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  margin: 30px;
  padding: 0px;
  min-height: 10px;
  display: flex;
    }

.bio {
  margin: 50px 150px 150px 150px;
  font-size: 16px;
}